/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // Global default fallback publishing directory layout
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // ====================================================================
    // CORE QUALITY CONTROL & INFRASTRUCTURE
    // ====================================================================

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'FASTQC' {
        ext.args   = '--quiet'
        // Evaluate condition inside the closure string at runtime execution space
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode,
            enabled: { !params.skip_fastqc && params.source == 'fastq' }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        ext.args   = { [
            params.skip_trimgalore_fastqc ? "" : '--fastqc',
            params.trim_nextseq > 0 ? "--nextseq ${params.trim_nextseq}" : ''
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/trimgalore/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}",
                enabled: { params.source == 'fastq' && !params.skip_trimming }
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: { params.source == 'fastq' && !params.skip_trimming && params.save_trimmed }
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.txt",
                enabled: { params.source == 'fastq' && !params.skip_trimming }
            ]
        ]
    }

    // ====================================================================
    // GENOME INDEXING & REFERENCE PREPARATION
    // ====================================================================

    withName: 'GUNZIP_.*|MAKE_TRANSCRIPTS_FASTA' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    withName: 'UNTAR_.*' {
        ext.args2 = '--no-same-owner'
    }

    withName: 'UNTAR_.*|STAR_GENOMEGENERATE|STAR_GENOMEGENERATE_IGENOMES' {
        publishDir = [
            path: { "${params.outdir}/genome/index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    withName: 'GFFREAD' {
        ext.args   = '--keep-exon-attrs -F -T'
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    withName: 'GFFREAD_TX2GENE' {
        ext.args   = { "--table transcript_id,${params.gtf_group_features},${params.gtf_extra_attributes}" }
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    withName: 'SALMON_INDEX' {
        ext.args   = { params.gencode ? '--gencode' : '' }
        publishDir = [
            path: { "${params.outdir}/genome/index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    withName: 'CAT_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/fastq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_merged_fastq }
        ]
    }

    withName: 'CUSTOM_GETCHROMSIZES' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    withName: 'GTF_GENE_FILTER' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.save_reference }
        ]
    }

    // ====================================================================
    // ALIGNMENT & QUANTIFICATION MODULES
    // ====================================================================

    withName: 'STAR_ALIGN|STAR_ALIGN_IGENOMES' {
        ext.args   = { [
            '--quantMode TranscriptomeSAM',
            '--twopassMode Basic',
            '--outSAMtype BAM Unsorted',
            '--readFilesCommand gunzip -c',
            '--runRNGseed 0',
            '--outFilterMultimapNmax 20',
            '--alignSJDBoverhangMin 1',
            '--outSAMattributes NH HI AS NM MD',
            '--quantTranscriptomeSAMoutput BanSingleEnd',
            params.save_unaligned ? '--outReadsUnmapped Fastx' : ''
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/log" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab}',
                enabled: { params.source == 'fastq' && !params.skip_alignment && ['star_salmon','star'].contains(params.aligner) }
            ],
            [
                path: { "${params.outdir}/${params.aligner}" },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                enabled: { params.source == 'fastq' && !params.skip_alignment && ['star_salmon','star'].contains(params.aligner) && params.save_align_intermeds }
            ],
            [
                path: { "${params.outdir}/${params.aligner}/unmapped" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: { params.source == 'fastq' && !params.skip_alignment && ['star_salmon','star'].contains(params.aligner) && params.save_unaligned }
            ]
        ]
    }

    withName: '.*:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}",
            enabled: { params.source != 'salmon_results' && !params.skip_alignment }
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: "*.bam",
            enabled: { params.source != 'salmon_results' && !params.skip_alignment && ['star_salmon','star'].contains(params.aligner) }
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: "*.{bai,csi}",
            enabled: { params.source != 'salmon_results' && !params.skip_alignment && ['star_salmon','star'].contains(params.aligner) }
        ]
    }

    withName: 'SALMON_QUANT_STAR' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && !params.skip_alignment && params.aligner == 'star_salmon' }
        ]
    }

    withName: 'SALMON_QUANT_SALMON' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { params.source == 'fastq' && params.pseudo_aligner == 'salmon' }
        ]
    }

    // ====================================================================
    // COVERAGE TRACK GENERATION
    // ====================================================================

    withName: 'BEDTOOLS_GENOMECOV' {
        ext.args   = '-split -du'
        publishDir = [ path: { "${params.outdir}/bedtools/${meta.id}" }, enabled: false ]
    }

    withName: '.*:BEDGRAPH_TO_BIGWIG_FORWARD:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.forward" }
        publishDir = [ path: { "${params.outdir}/${params.aligner}" }, enabled: false ]
    }

    withName: '.*:BEDGRAPH_TO_BIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${meta.id}.forward" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/bigwig" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && !params.skip_alignment && !params.skip_bigwig }
        ]
    }

    withName: '.*:BEDGRAPH_TO_BIGWIG_REVERSE:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.reverse" }
        publishDir = [ path: { "${params.outdir}/${params.aligner}" }, enabled: false ]
    }

    withName: '.*:BEDGRAPH_TO_BIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${meta.id}.reverse" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/bigwig" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && !params.skip_alignment && !params.skip_bigwig }
        ]
    }

    // ====================================================================
    // SPLICING ENGINES & DOWNSTREAM COHORTS
    // ====================================================================

    // --- rMATS ---
    withName: 'RMATS_PREP|RMATS_POST|RMATS_PREP_SINGLE|RMATS_POST_SINGLE' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/rmats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.rmats }
        ]
    }

    withName: 'CREATE_BAMLIST|CREATE_BAMLIST_SINGLE' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/rmats/bamlist" },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.rmats }
        ]
    }

    // --- Leafcutter ---
    withName: 'REGTOOLS_JUNCTIONSEXTRACT' {
        ext.args   = '-a 8 -i 50 -I 500000'
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/leafcutter" },
            mode: params.publish_dir_mode,
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.leafcutter }
        ]
    }

    withName: 'LEAFCUTTER_CLUSTER' {
        ext.args   = '-l 500000 -m 10'
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/leafcutter" },
            mode: params.publish_dir_mode,
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.leafcutter }
        ]
    }

    // --- DEXSeq Exon ---
    withName: 'DEXSEQ_ANNOTATION' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/dexseq_exon/annotation" },
            mode: params.publish_dir_mode,
            pattern: "*.gff",
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.dexseq_exon && params.save_dexseq_annotation }
        ]
    }

    withName: 'DEXSEQ_COUNT' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/dexseq_exon/counts" },
            mode: params.publish_dir_mode,
            pattern: "*.clean.count.txt",
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.dexseq_exon }
        ]
    }

    withName: 'DEXSEQ_EXON' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/dexseq_exon/results" },
            mode: params.publish_dir_mode,
            pattern: "*.{csv,pdf,rds}",
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.dexseq_exon }
        ]
    }

    // --- DEXSeq DTU (STAR/Salmon Paths) ---
    withName: '.*:DRIMSEQ_DEXSEQ_DTU_STAR_SALMON:DRIMSEQ_FILTER' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/dexseq_dtu/filter/drimseq" },
            mode: params.publish_dir_mode,
            pattern: "*.rds",
            enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.dexseq_dtu }
        ]
    }

    withName: '.*:DRIMSEQ_DEXSEQ_DTU_STAR_SALMON:DEXSEQ_DTU' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/dexseq_dtu/results/dexseq" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,rds}",
            enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.dexseq_dtu }
        ]
    }

    withName: '.*:DRIMSEQ_DEXSEQ_DTU_STAR_SALMON:STAGER' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/dexseq_dtu/results/stager" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,rds}",
            enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.dexseq_dtu }
        ]
    }

    // --- DEXSeq DTU (Pure Salmon Paths) ---
    withName: '.*:DRIMSEQ_DEXSEQ_DTU_SALMON:DRIMSEQ_FILTER' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}/dexseq_dtu/filter/drimseq" },
            mode: params.publish_dir_mode,
            pattern: "*.rds",
            enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.dexseq_dtu }
        ]
    }

    withName: '.*:DRIMSEQ_DEXSEQ_DTU_SALMON:DEXSEQ_DTU' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}/dexseq_dtu/results/dexseq" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,rds}",
            enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.dexseq_dtu }
        ]
    }

    withName: '.*:DRIMSEQ_DEXSEQ_DTU_SALMON:STAGER' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}/dexseq_dtu/results/stager" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,rds}",
            enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.dexseq_dtu }
        ]
    }

    // --- edgeR DEU ---
    withName: 'SUBREAD_FLATTENGTF' {
        ext.args   = { [ "-t exon", "-g ${params.gtf_group_features}", '-C' ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/featurecounts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.edger_exon }
        ]
    }

    withName: 'SUBREAD_FEATURECOUNTS' {
        ext.args   = { [ '-F SAF', "-t exon", "-g ${params.gtf_group_features}", '-f', '-O', '-B', '-C' ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/featurecounts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.edger_exon }
        ]
    }

    withName: 'EDGER_EXON' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/edger" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.edger_exon }
        ]
    }

    // --- SUPPA (STAR/Salmon Path) ---
    withName: '.*:SUPPA_STAR_SALMON:GENERATE_EVENTS_(IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/suppa/generate_events/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: '*.{ioe,gtf}',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.aligner}/suppa/generate_events/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: '*.ioi',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_isoform }
            ]
        ]
    }

    withName: '.*:SUPPA_STAR_SALMON:PSIPEREVENT' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/suppa/psi_per_local_event" },
            mode: params.publish_dir_mode,
            pattern: '*.psi',
            enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_local_event }
        ]
    }

    withName: '.*:SUPPA_STAR_SALMON:PSIPERISOFORM' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/suppa/psi_per_isoform" },
            mode: params.publish_dir_mode,
            pattern: '*.psi',
            enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_isoform }
        ]
    }

    withName: '.*:SUPPA_STAR_SALMON:SPLIT_FILES_(TPM|IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/suppa/split_files/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: 'local*.{tpm,psi}',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.aligner}/suppa/split_files/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: 'transcript*.{tpm,psi}',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_isoform }
            ],
            [
                path: { "${params.outdir}/${params.aligner}/suppa/split_files/tpms" },
                mode: params.publish_dir_mode,
                pattern: '*.tpm',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa }
            ]
        ]
    }

    withName: '.*:SUPPA_STAR_SALMON:DIFFSPLICE_(IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/suppa/diffsplice/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: '*local*.{dpsi,psivec}',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.aligner}/suppa/diffsplice/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: '*transcript*.{dpsi,psivec}',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_isoform }
            ]
        ]
    }

    withName: '.*:SUPPA_STAR_SALMON:CLUSTEREVENTS_(IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/suppa/clusterevents/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: '*local*.{clustvec,log}',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.aligner}/suppa/clusterevents/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: '*transcript*.{clustvec,log}',
                enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" && params.suppa && params.suppa_per_isoform }
            ]
        ]
    }

    // --- SUPPA (Pure Salmon Path) ---
    withName: '.*:SUPPA_SALMON:GENERATE_EVENTS_(IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/generate_events/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: '*.{ioe,gtf}',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/generate_events/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: '*.ioi',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_isoform }
            ]
        ]
    }

    withName: '.*:SUPPA_SALMON:PSIPEREVENT' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}/suppa/psi_per_local_event" },
            mode: params.publish_dir_mode,
            pattern: '*.psi',
            enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_local_event }
        ]
    }

    withName: '.*:SUPPA_SALMON:PSIPERISOFORM' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}/suppa/psi_per_isoform" },
            mode: params.publish_dir_mode,
            pattern: '*.psi',
            enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_isoform }
        ]
    }

    withName: '.*:SUPPA_SALMON:SPLIT_FILES_(TPM|IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/split_files/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: 'local*.{tpm,psi}',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/split_files/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: 'transcript*.{tpm,psi}',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_isoform }
            ],
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/split_files/tpms" },
                mode: params.publish_dir_mode,
                pattern: '*.tpm',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa }
            ]
        ]
    }

    withName: '.*:SUPPA_SALMON:DIFFSPLICE_(IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/diffsplice/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: '*local*.{dpsi,psivec}',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/diffsplice/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: '*transcript*.{dpsi,psivec}',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_isoform }
            ]
        ]
    }

    withName: '.*:SUPPA_SALMON:CLUSTEREVENTS_(IOE|IOI)' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/clusterevents/per_local_event" },
                mode: params.publish_dir_mode,
                pattern: '*local*.{clustvec,log}',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_local_event }
            ],
            [
                path: { "${params.outdir}/${params.pseudo_aligner}/suppa/clusterevents/per_isoform" },
                mode: params.publish_dir_mode,
                pattern: '*transcript*.{clustvec,log}',
                enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" && params.suppa && params.suppa_per_isoform }
            ]
        ]
    }

    // --- Tximport Tracks ---
    withName: '.*:TX2GENE_TXIMPORT_STAR_SALMON:TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/tximport" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'transcriptome_bam'].contains(params.source) && params.aligner == "star_salmon" }
        ]
    }

    withName: '.*:TX2GENE_TXIMPORT_SALMON:UNTAR' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}/tximport" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" }
        ]
    }

    withName: '.*:TX2GENE_TXIMPORT_SALMON:TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}/tximport" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'salmon_results'].contains(params.source) && params.pseudo_aligner == "salmon" }
        ]
    }

    // --- MISO / Sashimi Plots ---
    withName: 'GTF_2_GFF3' {
        publishDir = [
            path: { "${params.outdir}/misopy" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.sashimi_plot }
        ]
    }

    withName: 'MISO_INDEX' {
        publishDir = [
            path: { "${params.outdir}/misopy" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.sashimi_plot }
        ]
    }

    withName: 'MISO_RUN' {
        publishDir = [
            path: { "${params.outdir}/misopy" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.sashimi_plot }
        ]
    }

    withName: 'MISO_SETTINGS' {
        ext.args   = [ "--bam_prefix ./bam_files", "--miso_prefix ./miso_data" ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/misopy" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.sashimi_plot }
        ]
    }

    withName: 'MISO_SASHIMI' {
        publishDir = [
            path: { "${params.outdir}/misopy" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: { ['fastq', 'genome_bam'].contains(params.source) && params.sashimi_plot }
        ]
    }
}
